<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
    <nav>
        <a href="/">Home</a>
        <a href="https://ahmad1284.github.io/resume">Resume</a>
    </nav>
    </header>
    {{ content | safe }}
    <footer>
        &copy; Ahmad Abdullah 2022
    </footer>
</body>
</html>