---
layout: layout.njk
title: Ahmad's Website
---

<h1>Welcome!</h1>
<p>
    Hello there! I'm Ahmad, a Computer Science student at the State
    University of Zanzibar. I like computers and reading in any form, and
    I'm currently learning how to make websites. When I'm not reading or
    coding you'll find me solving rubik cubes, looking at sunsets and
    watching the stars.
</p>

<h1> Blog </h1>

<ul>
    {% for post in collections.blog %}
    <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
    {% endfor %}
</ul>